.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 44px;
  width: 100vh;
  display: flex;
  
  align-items: center;
  
  background-color: #424242;
  transform-origin: top right;
  transform: translate(-100%) rotate(-90deg);
  transition-duration: 0.5s;
  
  & a {
    margin: 0 15px;
    
    color: #ececec;
    
    &.selected {
      color: #fff;
      font-weight: 800;
    }
  }

  & a + .sublinks {
    position: relative;
    float: right;
    width: 0;
    height: 0;
    
    transform: scaleX(0);
  }
  
  & .selected + .sublinks {
    width: auto;
    height: auto;
    
    transform: scaleX(1);
    
    &:before {
      content: '';
      
      position: absolute;
      
      width: 10px;
      height: 100%;
      left: -3px;
      
      background: url(../assets/chevron.svg);
      background-repeat: no-repeat;
      background-position: center;
      
      transform: rotate(90deg);
    }
    
    & > a {
      margin: 0.5em;
      
      &:first-child {
        margin-left: 15px;
      }
      
      &:last-child {
        margin-right: 15px;
      }
    }
    
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      
      background-color: #fff;
    }
  }
}

body {
  margin-left: 44px;
}