$page-small: 320px;
$page-mid: 520px;
$page-large: 960px;

$text-color: #404040;

@font-face {
  font-family: 'Milkshake';
  src: url('../assets/Milkshake.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('../assets/FiraCode.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw -
                    #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

html {
  @include fluid-type(360px, 1200px, 16px, 24px);
  line-height: 1.4em;
}

body {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  font-family: 'Raleway';
}

h1 {
  display: block;
  font-weight: 600;
  line-height: 100%;
  font-size: 1.3rem;
  color: #464646;
}

p,
div,
a {
  font-size: 0.8rem;
  color: #404040;
}

/*****

  Header

*****/

.header-container {
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 1.0875rem;
}

.header-blog-name {
  position: relative;
  color: #464646;
  font-family: 'Cinzel Decorative';
  font-size: 1.2rem;
  @media screen and (min-width: $page-mid) {
    font-size: 1.5rem;
  }
  text-decoration: none;
}

.header-subtitle {
  position: relative;
  font-family: Milkshake;
  font-size: 1em;
  @media screen and (min-width: $page-mid) {
    font-size: 0.8em;
  }
  top: 4px;
  left: 2px;
}

.header-underline {
  position: absolute;
  height: 1px;
  background-color: #464646;
  bottom: 0;
  left: 0;
  width: 83%;
}

/*****

  Navigation

*****/

.nav-container {
  font-family: Raleway;
  display: flex;
  font-size: 70%;
  text-align: center;
  margin: 0.5rem auto;
  max-width: 768px;
}

.nav-btn {
  color: #2e2e2e;
  font-size: 1.2rem;
  flex-grow: 1;
}

/*****

  Page Stuff

*****/
.blog-post-preview {
  margin-bottom: 2rem;
}

.blog-post-title,
.blog-post-preview-title {
  display: block;
  font-weight: 600;
  line-height: 100%;
  font-size: 1.2rem;
  color: #464646;
}

.blog-post-date,
.blog-post-preview-date {
  font-size: 0.6rem;
  color: #404040;
  margin-top: -10px;
}

.blog-post-content,
.blog-post-preview-excerpt {
  font-size: 0.8rem;
  color: #404040;
  margin-top: -5px;
  font-weight: 400;
}

.blog-post-content {
  margin-top: -0.7rem;
}

/***********
*
* Syntax Highlighting
*
***********/

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: #ececec;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 */
.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.gatsby-highlight-code-line {
  background-color: #e2e2e2;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #a0a0a0;
}

.token.operator {
  background: initial !important;
}

code {
  font-family: 'FiraCode';
  background-color: #ececec;
  border-radius: 5px;
  padding: 0.1em 0.2em;
  color: #404040;
}
